node_modules/
bower_components/
_tmp/
tmp/
.tmp/
tmp_files/
.env
.DS_Store
.idea
*.ai
*.psd
*.pdf
coverage/
.nyc_output/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
