#
# prevent known hacks from getting thru
#
#
# modify nginx to include config files from sites-enabled directory so that we can add new location blocks to server block
#
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/61_change_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "*** AML CHANGE NGINX HOOK"
